  <% if current_user %>  
  
  <% else %>
  <div class="alert-box">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <p class="alert-text">You should probably <a href="/login">log in.</a></p>
    </div>
  <% end %>


<div class="main">
    <div class="header">
    <h1 class="contact">[your contacts name here]</h1>
    </div>
    <div class="white">
    </div>
    <div class="text_box">
        <input class="text" maxlength="2048" type="text">
    </div>
</div>
