/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: arial;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 .navbar {
  background: #00a5ff;
  height: 100px;
  width: 100%;
  margin: 0px -20px 0px 0px;
  font-size: larger;
  vertical-align: middle;
  border-bottom-width: thick;
  border-bottom-color: black;
  border-bottom-style: solid;
 }
 body {
  background: url(/assets/background.png);
 }
 .main {
 background-color: #00a5ff;
 margin: 10px auto;
 width: 600px;
 height: 780px;
 border-radius: 50px;
 border: 10px solid black;
 }
 .white {
 margin-top: 1px;
 background-color: #FFF;
 width: 590px;
 margin: 0 auto;
 height: 638px;
 text-align: left;
 border-radius: 50px;
 margin-bottom: 10px;
 overflow-y: auto;
 }
 .text_box {
 margin-top: 50px;
 background-color: #FFF;
 margin: 0 auto;
 width: 580px;
 height: 45px;
 text-align: center;
 border-radius: 50px;
 }
 .header {
  margin-left: 20px;
 }
 .contact {
  height: 81px;
  display: inline-block;
  vertical-align: middle;
  font-family: arial;
  line-height: 81px;
  margin-left: 20px;
  font-size: x-large;
  font-weight: bold;
 }
 img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 10px;
 }
 .text {
  outline: none;
  border: none;
  width: 550px;
  height: 45px;
  background: transparent;
  font-size: medium;
 }
 .form {
  margin-top: 20px;
  margin-left: 10px;
  font-family: arial;
  font-weight: bold;
 }
 a {
  color: white;
  font-family: arial;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  transition: 0.3s;
 }
 a:hover {
  color: #000;
 }
 .logo {
  height: 81px;
  width: 100px;
 }
 .content {
  margin-top: 15px;
  margin-left: 10px;
 }

 /* start of alert/notice bars */
 .notice {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 15px;
    height: 25px;
    vertical-align: middle;
    font-family: arial;
    font-weight: bold;
    border-radius: 30px;
}
  /* The alert message box */
 .alert-text {
  margin-top: 3px;
 }
.alert-box {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    height: 25px;
    vertical-align: middle;
    font-family: arial;
    font-weight: bold;
    border-radius: 30px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 3px;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
 /* end of alert/notice bars */